<div class="dialog-container">
  <h2>Add Child</h2>

  <form class="add-child-form" [formGroup]="formGroup">
    <div class="form-row">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput placeholder="Name" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Year</mat-label>
        <input formControlName="year" matInput placeholder="Year" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field>
        <mat-label>Allergies</mat-label>
        <input formControlName="allergies" matInput placeholder="Allergies" />
      </mat-form-field>
    </div>
  </form>

  <mat-dialog-actions align="end">
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="submit()">Save</button>
  </mat-dialog-actions>
</div>
