@import "../../../../assets/common.scss";

.staff-list-section {
    margin: 1rem;
    display: flex;
    padding: 1rem;
    gap: 1rem;
    flex-direction: column;
    border: 3px solid #212a3e;
    border-radius: 0.5rem;
}

.button-section {
    align-self: flex-end
}

.course-add-button {
    gap: 1rem;
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: none;
    background: #212a3e;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-top: 1rem;
    cursor: pointer;

    &:hover {
        background: #fff;
        color: #212a3e;
        border: #212a3e solid 2px;
    }
}

.staff-items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}