<div class="dialog-container">
  <h2>{{hasId(service.formGroup) ? "Edit Menu": "Create Menu"}}</h2>

  <form class="add-child-form" [formGroup]="service.formGroup">
    <div class="form-row">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput placeholder="Name" />
      </mat-form-field>
    </div>

    <div>
      <div class="ingredient-list-header">
        <h2>Meals</h2>
        <button (click)="service.addMeal()" class="add-ingredient-button">
          Add Meal
          <span class="material-symbols-outlined"> add_circle </span>
        </button>
      </div>

      <div class="ingredient-list" formArrayName="meals">
        <ng-container *ngFor="let formGroup of service.meals.controls; let i = index">
          <div class="ingredient-form" [formGroup]="formGroup">
            <mat-form-field>
              <mat-label>Meal</mat-label>
              <mat-select formControlName="meal" [compareWith]="compareMeals">
                @for (meal of meals$ | async; track meal) {
                <mat-option [value]="meal">{{ meal.name }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-icon class="delete-btn" (click)="service.removeMeal(i)">
              delete_forever</mat-icon>
          </div>
        </ng-container>
      </div>
    </div>
  </form>

  <mat-dialog-actions align="end">
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="submit()">Save</button>
  </mat-dialog-actions>
</div>
