.dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & mat-form-field {
        margin-bottom: 0.5rem;
    }
}

.action-buttons {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;

    & button {
        width: 6rem;
        padding: 0.5rem 0;
        font-size: 1.1rem;
        border-radius: 15px;
        border: none;
        cursor: pointer;

        &.save-button {
            background-color: #212a3e;
            color: #fff
        }
    }

}