<div class="dialog-container">
  <h2>Add New Staff Member</h2>
  <form class="form-group" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input formControlName="username" matInput placeholder="username" />
      <mat-hint [ngStyle]="{ visibility: 'hidden' }">hint</mat-hint>
      <mat-error *ngIf="formGroup.get('username')?.hasError('required')"
        >Required</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput placeholder="password" />
      <mat-hint [ngStyle]="{ visibility: 'hidden' }">hint</mat-hint>
      <mat-error *ngIf="formGroup.get('password')?.hasError('required')"
        >Required</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="name" />
      <mat-hint [ngStyle]="{ visibility: 'hidden' }">hint</mat-hint>
      <mat-error *ngIf="formGroup.get('name')?.hasError('required')"
        >Required</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Start Date</mat-label>
      <input formControlName="startDate" matInput placeholder="Start Date" />
      <mat-hint [ngStyle]="{ visibility: 'hidden' }">hint</mat-hint>
      <mat-error *ngIf="formGroup.get('startDate')?.hasError('required')"
        >Required</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Role</mat-label>
      <mat-select formControlName="role">
        <mat-option *ngFor="let role of roles" [value]="role">
          {{ role }}
        </mat-option>
      </mat-select>
      <mat-hint [ngStyle]="{ visibility: 'hidden' }">hint</mat-hint>
      <mat-error *ngIf="formGroup.get('role')?.hasError('required')"
        >Required</mat-error
      >
    </mat-form-field>

    <div class="action-buttons">
      <button (click)="closeDialog()" class="cancel-button">Cancel</button>
      <button type="submit" [mat-dialog-close]="confirm" class="save-button">
        Save
      </button>
    </div>
  </form>
</div>
