<mat-sidenav-container class="example-container">
  <mat-sidenav class="side-nav" mode="side" opened>
    <app-side-nav class="action-items"></app-side-nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-container *ngIf="child$ | async as child">
      <div class="child-container">
        <div class="child-header">
          <img
            class="child-image"
            src="../../../../../assets/user.png"
            alt=""
          />

          <div class="header-text">
            <h2>{{ child.name }}</h2>
            <p>(Year {{ child.year }})</p>
          </div>
        </div>

        <div class="nutrition-section">
          @if(nutrition$ | async; as nutrition){
          <div class="nutrition-info-section">

            <nutrition-group
              [nutrition]="nutrition.calories"
              nutritionType="calories"
              unit="kcal"
              [recommended]="setRecommendedCalories(child)"
            ></nutrition-group>

            <nutrition-group
              [nutrition]="nutrition.energy"
              nutritionType="energy"
              unit="kj"
            ></nutrition-group>

            <nutrition-group
              [nutrition]="nutrition.fat"
              nutritionType="fat"
              unit="g"
              [recommended]="setRecommendedFat(child)"
            ></nutrition-group>

            <nutrition-group
              [nutrition]="nutrition.salt"
              nutritionType="salt"
              unit="g"
              [recommended]="5"
            ></nutrition-group>

            <nutrition-group
              [nutrition]="nutrition.saturates"
              nutritionType="saturates"
              unit="g"
              [recommended]="setRecommendedSaturates(child)"
            ></nutrition-group>

            <nutrition-group
              [nutrition]="nutrition.sugars"
              nutritionType="sugars"
              [recommended]="setRecommendedSugar(child)"
              unit="g"
              class="no-border"
            ></nutrition-group>
          </div>
          } @else {
          <p>no nutrtion information available</p>
          }
        </div>
        <app-child-meal-table
          class="meal-section"
          [child]="child"
        ></app-child-meal-table>
      </div>
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>
