@use '../../../../../assets/common.scss';

.expansion-header {

  mat-panel-title {
    text-transform: capitalize;
    font-size: 1.5rem;
  }

  .icons {
    padding-right: 1rem;
    gap: 0.5rem;
    display: flex;

    & .icon {
      padding: 0.25rem;
      border-radius: 15px;

      &:hover {
        background: lightgray;

      }
    }
  }
}

.allergen-list {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  h4 {
    margin: 0;

  }

}

h3 {
  text-transform: capitalize;
  margin: 0;
}

hr {
  margin-bottom: 1rem;
}
