@let formGroup = mealPlanService.formGroup;

<div class="dialog-container">
  <ng-container [formGroup]="formGroup">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Name" />
    </mat-form-field>

    <p>Please select the Monday of the week you wish to select meals for.</p>
    <mat-form-field>
      <mat-label>Select initial date</mat-label>
      <input
        formControlName="startDate"
        matInput
        [matDatepickerFilter]="myFilter"
        [matDatepicker]="picker"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    @if(formGroup.controls["startDate"].hasError('isBefore')){
    <mat-error>Start Date cannot be within 3 weeks of current date</mat-error>
    }

    <mat-form-field>
      <mat-label>Monday</mat-label>
      <mat-select formControlName="monday" [compareWith]="compareMenus">
        @for (menu of menus$ | async; track menu) {

        <mat-option [value]="menu">{{ menu.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tuesday</mat-label>
      <mat-select formControlName="tuesday" [compareWith]="compareMenus">
        @for (menu of menus$ | async; track menu) {
        <mat-option [value]="menu">{{ menu.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Wednesday</mat-label>
      <mat-select formControlName="wednesday" [compareWith]="compareMenus">
        @for (menu of menus$ | async; track menu) {
        <mat-option [value]="menu">{{ menu.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Thursday</mat-label>
      <mat-select formControlName="thursday" [compareWith]="compareMenus">
        @for (menu of menus$ | async; track menu) {
        <mat-option [value]="menu">{{ menu.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Friday</mat-label>
      <mat-select formControlName="friday" [compareWith]="compareMenus">
        @for (menu of menus$ | async; track menu) {
        <mat-option [value]="menu">{{ menu.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </ng-container>

  <div class="buttons">
    <button mat-button (click)="close()">Cancel</button>
    <button (click)="submit()" class="submit-btn">Submit</button>
  </div>
</div>
