@use '../../../../../assets/common.scss';

.dialog-container {
  padding: 1.5rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;

  .buttons {
    align-self: flex-end;
    display: flex;
    gap: 0.5rem;
  }

  .submit-btn {
    background: #212A3E;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 23px;
    border: none;
  }
}

mat-error {
  margin-bottom: 0.5rem;
}
