<div class="dialog-container">
  <h2>Add Allergen</h2>

  <form class="add-child-form" [formGroup]="formGroup">
    <div class="form-row">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput placeholder="Name" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Reaction</mat-label>
        <input formControlName="reaction" matInput placeholder="Reaction" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field>
        <mat-label>Special Requirements</mat-label>
        <input
          formControlName="specialRequirements"
          matInput
          placeholder="Special Requirements"
        />
      </mat-form-field>
    </div>
  </form>

  <mat-dialog-actions align="end">
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="submit()">Save</button>
  </mat-dialog-actions>
</div>
