<div class="meal-table-header">

  <h2>Meals</h2>

  <button class="add-button" (click)="openAddChildDialog()">Add Meals
    <span class="material-symbols-outlined"> add_circle </span>
  </button>
</div>


<div class="table-container" *ngIf="childService.mealsDatasource$ | async as datasource">
  <table mat-table [dataSource]="datasource" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="meal">
      <th mat-header-cell *matHeaderCellDef>Meal</th>
      <td class="element-link" mat-cell *matCellDef="let element">
        {{ element.name }}
      </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">{{ childService.formatDate(element.date) }}</td>
    </ng-container>

    <!-- Nutrition Column -->
    <ng-container matColumnDef="nutrition">
      <th mat-header-cell *matHeaderCellDef>Nutrition</th>
      <div>
        <td mat-cell *matCellDef="let element">
          @if(!!element.ingredients.length){

          <div class="meal-nutrition">
            <p>
              Energy: {{ getNutrtionalVal(element.ingredients, "energy") }}kj
            </p>
            <p>Fat: {{ getNutrtionalVal(element.ingredients, "fat") }}g</p>
            <p>Salt: {{ getNutrtionalVal(element.ingredients, "salt") }}g</p>
            <p>
              Saturates:
              {{ getNutrtionalVal(element.ingredients, "saturates") }}g
            </p>
            <p>Sugar: {{ getNutrtionalVal(element.ingredients, "sugars") }}g</p>
          </div>
          } @else {
          <p>No nutritional information available for meal selection</p>
          }

        </td>
      </div>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="openEditDialog(element)" class="edit-button" mat-menu-item>
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
