<div class="dialog-container">
  <h2>Add Ingredient</h2>

  <form class="add-child-form" [formGroup]="formGroup">
    <div class="form-row">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput placeholder="Name" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Allergies</mat-label>
        <mat-select formControlName="allergens" multiple>
          @for (allergen of allergens$ | async; track allergen) {
          <mat-option [value]="allergen">{{ allergen.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field>
        <mat-label>Price Per kg</mat-label>
        <input
          formControlName="pricePerKG"
          matInput
          placeholder="Price Per kg"
        />
      </mat-form-field>
    </div>
  </form>

  <mat-dialog-actions align="end">
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="submit()">Save</button>
  </mat-dialog-actions>
</div>
