<div class="dialog-container">
  <h2>Add Meal</h2>

  <form class="add-child-form" [formGroup]="service.formGroup">
    <div class="form-row">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput placeholder="Name" />
      </mat-form-field>
    </div>

    <div>
      <div class="ingredient-list-header">
        <h2>Ingredients</h2>
        <button (click)="service.addIngredient()" class="add-ingredient-button">
          Add Ingredient
          <span class="material-symbols-outlined"> add_circle </span>
        </button>
      </div>

      <div class="ingredient-list" formArrayName="ingredients">
        <ng-container *ngFor="let formGroup of service.ingredients.controls; let i = index">
          <div class="ingredient-form" [formGroup]="formGroup">
            <mat-form-field>
              <mat-label>Ingredient</mat-label>
              <mat-select
                formControlName="ingredient"
                [compareWith]="compareIngredients"
                class="ingredient-{{service.ingredients.controls.indexOf(formGroup) + 1}}"
                >
                @for (ingredient of ingredients$ | async; track ingredient) {
                <mat-option [value]="ingredient">{{
                  ingredient.name
                  }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Amount (g)</mat-label>
              <input
                matInput type="number"
                formControlName="amount"
                class="ingredient-{{service.ingredients.controls.indexOf(formGroup) + 1}}"
                />
            </mat-form-field>

            <mat-icon class="delete-btn" (click)="service.removeIngredient(i)">
              delete_forever</mat-icon>
          </div>
        </ng-container>
      </div>
    </div>
  </form>

  <mat-dialog-actions align="end">
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="submit()">Save</button>
  </mat-dialog-actions>
</div>
